<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-->
  <configSections>
    <section name="MsfConfig"
             type=
               "Microsoft.SolverFoundation.Services.MsfConfigSection,
               Microsoft.Solver.Foundation,
               Culture=neutral,
               Version=3.0.2.10889,
               PublicKeyToken=31bf3856ad364e35"
             allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>

  <MsfConfig>
    <MsfPluginSolvers>
      <MsfPluginSolver
        name="Knitro"
        capability="NLP"
        interface="Microsoft.SolverFoundation.Services.INonlinearSolver"
        assembly="KnitroPlugin.dll"
        solverclass="SolverFoundation.Plugin.Knitro.KnitroSolver"
        directiveclass="SolverFoundation.Plugin.Knitro.KnitroNLPDirective"
        parameterclass="SolverFoundation.Plugin.Knitro.KnitroNLPParams" />
    </MsfPluginSolvers>
  </MsfConfig>
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>